
# 
node_modules/
.vscode/
changed-*/
nativeMessenger-Vanilla/

# Temp files
*.temp.*
*.log
**/later/


# To store handling (encryption, storagr) of passwords
credentials.js

# To manage access (ensure logged in or signed up) and manage user data
# account.js

# Auxilliary files for html viewing (dont think I should commit these)
page.md
page-snapshot.html
element-snapshot.html

**/note.txt

data.json

# Log files
*.log
html-snapshots/

